#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 32px;
  background-color: #232a34;
  border-radius: 15px;
  border: none;
}

.header-container {
  display: flex;
}

.star-icon {
  background-color: #262e38;
  padding: 10px;
  border-radius: 16px;
  width: 13px;
  display: flex;
}

.main-title {
  font-size: 24px;
}

.main-description {
  font-size: 14px;
  color: #969fad;
}

.rating-number {
  background-color: #262e38;
  color: #7c8798;
  padding: 10px;
  border-radius: 37px;
  width: 20px;
  height: 19px;
}

.span-container {
  display: flex;
  gap: 17px;
  justify-content: center;
  cursor: pointer;
}

.submit-button {
  background-color: #fc7614;
  color: #ffffff;
  padding: 12px 110px;
  border-radius: 22.5px;
  border: none;
}

.second-header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 29px;
}

.selected-rating {
  font-size: 14px;
  color: #fc7614;
  background-color: #262e38;
  padding: 5px 12px;
  border-radius: 22px;
}

.thank-you-style {
  font-size: 24px;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
